.vscode/*
Exercices/S5-WEB3/Infura/node_modules/*
Exercices/S5-WEB3/MetaMask/SimpleStorage-WebInterface/node_modules/*
Defis/2-Suite-SystemeDeVote/node_modules/*
Exercices/S5-WEB3/MetaMask/ToDoList-WebInterface/node_modules/*
Exercices/S5-WEB3/MetaMask/react-app/node_modules/*
Exercices/S5-WEB3/MetaMask/simple-storage-truffle/node_modules/*