.App {
  position: absolute;
  /* width: max-block-size;
  height: 100vh; */
  background-image: url("/eth2.jpg");
  background-blend-mode: color;
  background-color: rgba(255,255,255, 0.7);
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  background-position: center;
  background-attachment:fixed;
  background-size:cover ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Copperplate Gothic"
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

div{
  transition: 0.3s;
}

.visible{
  /* visibility: visible; */
  display:flexbox;
  /* opacity: 1; */
  /* position: relative; */
  /* transition: 0.5s; */
  animation: fadeInFromNone 0.5s forwards;
  /* transition: display 0.51s; */
}
.hidden{
  /* visibility: hidden; */
  display:none;
  /* opacity: 0; */
  /* position: absolute; */
  /* transition: 0.5s; */
  animation: fadeOutFromTable 0.5s forwards;
  transition: display 0.51s;
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: flexbox;
      opacity: 0;
  }

  100% {
      display: flexbox;
      opacity: 1;
  }
}

@keyframes fadeOutFromTable {
  0% {
      display: flexbox;
      opacity: 1;
  }
  1% {
    display: flexbox;
    opacity: 1;
}
  100% {
    display: none;
    opacity: 0;
}
}
